<link rel="stylesheet" type="text/css" href="assets/css/bio_style.css">
<div class='framer group'>

    <div class='banner' id='banner'>
    </div>
    <div class='logoContainer' id="logoContainer">
    <div class='logotype' id='logotype'>Bart<span class='leadingForBart'></span>Dority</div>
    </div>
   <div class='tagline'>Full Stack Web Developer / Software Engineer</div>

    <div class='menuContainer'>
    <div class='mainMenu' id="mainMenu">
        <div class='menuTitle' id="menuTitle">//</div>
        <ul class='menu' id="menu">
            <li class='' id='homeLink'>/</li>
            <li class='' id='bioLink'>/ Bio</li>
            <li class='' id='projectsLink'>/ Projects</li>
            <li class='' id='resumeLink'>/ Resume</li>
            <li class='' id='githubLink'>/ Github</li>
            <li class='' id='linked-inLink'>/ Linked-In</li>
        </ul>
    </div>
    </div>

<div class='bioContainer'>

 <div class='intro'>Full Stack Web Developer with a deep knowledge of a broad range of web technologies and a strong background in design and computer science who cares deeply about user-centric product development.

Proficient in JavaScript, CSS, HTML, PHP, MySQL, Sass, git, JQuery and Unix. Experienced in developing with Angular, Node.js, MongoDB, Ruby on Rails, Objective-C and using cloud based computing platforms like AWS, and CSS Frameworks like Bootstrap and Materialize. I’m working on a certification of Full Stack Development from UC Berkeley extension. I have a certificate of iPhone programming from The City College of San Francisco, and a BA in Computer Graphics from The Pratt Institute School of Art and Design, in New York.

I have extensive experience in advertising, animation, marketing and design. I’m looking to join a team of engineers that enjoy collaborating and value life-long learning.</div> 

</div>
</div>
<div class='rightColumn group'>Stuff in here</div>

<script>
    $(document).ready(function() { 

    $("#logoContainer").on("click", function(event) {
        event.preventDefault();
        event.stopPropagation();
        window.location.replace("/");
    });
    });
</script>