
.icon {
    width:100px;
    height:100px;
    background-size:80px 80px;
    background-repeat: no-repeat;
    display:inline-block;
    float:left;
    cursor: pointer;
    opacity:.5;
    transition: all .25s;
    margin-bottom:20px;
}

.icon:hover {
    opacity:1;
}
.github {
    background-image:url('../images/interface/github_round.svg');
}

.github:hover {
    background-image:url('../images/interface/github_round_hi.svg');
}

.email {
    background-image:url('../images/interface/email.svg');
}
.email:hover {
    background-image:url('../images/interface/email_hi.svg');
}



.pdf {
   background-image:url('../images/interface/pdf.png');
}

.pdf:hover {
    background-image:url('../images/interface/pdf_hi.png');
}

.linkedin {
    background-image:url('../images/interface/linked_in_black.svg');
}
.linkedin:hover {
    background-image:url('../images/interface/linked_in_hi.svg');
}
