@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* Mobile Styles */
html {
    background-color:white;
}
body {
    background-color:white;
    color:black;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', serif;
}

.framer {
    width:100%;
    position: relative;
    display:block;
    box-sizing: border-box;
    text-align: center;
    padding-bottom:200px;
}
.banner {
    height:200px;
    transition:all .5s;
}

.banner_pos2 {
    height:20px;
}
.logoContainer {
    
    display:inline-block;
    position:relative;
    transition: all 2s;
    left:0;
}
.logotype {
    font-family: Goudy;
    font-size:3.5em;
    letter-spacing:-.01em;
    padding-top:10px;
    font-family: 'Rubik', serif;
    font-weight: 500;
    /* font-family: 'Montserrat', serif; */
    text-transform: uppercase;
    /* border:4px solid red;
    background-color:cyan; */
    margin:auto;
    user-select: none;
    cursor: pointer;
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;
    border-bottom:4px solid white;
    transition:all .25s;
    position:relative;
}

.logotype:hover {
    border-bottom:4px solid cyan;
}
.leadingForBart {
    width:100px;
    
    padding:6px;
    box-sizing: border-box;
}

.tagline {
    font-family: Goudy;
    font-size:1.2em;
   padding-left:4px;
   line-height:.9em;
   padding-top:18px;
   box-sizing: border-box;
   font-family: 'Rubik', serif;
   font-weight: 200;
   text-transform: lowercase;
   padding-bottom:40px;
  
   box-sizing: border-box;
}
.rightColumn {
    background-color:gray;
    width:100%;
    position: relative;
    min-height:400px;
    padding-left:40px;
    padding-top:40px;
    box-sizing: border-box;

}

.portContainer {
    width:100%;
    border:8px solid blue;
    box-sizing: border-box;
    text-align: center;
}

.project {
    width:30%;
    max-width:350px;
    min-width:290px;
    height:300px;
    border:4px solid gray;
    box-sizing: border-box;
    display:inline-block;
}


.mainMenu {
   
    display:inline-block;
    margin:auto;
    padding:0;
    height:8px;
 
}
.menuContainer {

}
.menuTitle {
    width:100%;
    background-color:rgb(160, 188, 197);
    height:60px;
    padding:8px;
    padding-left:20px;
    padding-bottom:0;
    box-sizing:border-box;
    font-weight: 900;
    font-family: 'Rubik', serif;
    font-size:2.5em;
    text-align: left;
    user-select: none;
    cursor: pointer;
}
.menuTitle:hover {
    background-color:cyan;
}
.menu {
    list-style: none;
    margin:0;
    padding:0;
    position: relative;
    top:0;
    max-height:400px;
    overflow: hidden;
    transition: all 1s;
}
.menu li {
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    width:100%;
    background-color:rgb(0, 191, 255);
    padding:8px;
    padding-left:29px;
    padding-right:29px;
    box-sizing:border-box;
    font-weight: 500;
    font-family: 'Rubik', serif;
    font-size:2.5em;
    text-align: left; 
    text-decoration:none;
    margin:0;
    box-sizing: border-box;
    max-height:80px;
    /* border:2px solid cyan; */
  transition: all .5s;
    overflow: hidden;
}

.menu li:hover {
    background-color:cyan;
}


.menu li:active {
   /* background-color:rgb(200, 254, 254); */
   color:rgb(0, 110, 147);
}


.menu li.hiddenLi {
    max-height:0px;
    transition: all .5s;
    padding-top:0;
    padding-bottom:0;
}
.hiddenMenu {
    max-height:0px;
    transition: all .5s;
}


.logoContainer_position2 { 
  transition: all 2s;
}

.bio {
    text-align: left;
    padding:20px;
}


.icon {
    width:60px;
    height:60px;
    background-size:60px 60px;
    background-repeat: no-repeat;
    display:inline-block;
    float:left;
    cursor: pointer;
    opacity:.5;
    transition: all .25s;
}

.icon:hover {
    opacity:1;
}
.github {
    background-image:url('../images/interface/github_round.svg');
}

.github:hover {
    background-image:url('../images/interface/github_round_hi.svg');
}

.email {
    background-image:url('../images/interface/email.svg');
}
.email:hover {
    background-image:url('../images/interface/email_hi.svg');
}



.pdf {
   background-image:url('../images/interface/pdf.png');
}

.pdf:hover {
    background-image:url('../images/interface/pdf_hi.png');
}

.linkedin {
    background-image:url('../images/interface/linked_in_black.svg');
}
.linkedin:hover {
    background-image:url('../images/interface/linked_in_hi.svg');
}


/* Styles for Larger screens */
@media only screen and (min-width:700px) {

    .framer {
        width:calc(100% - 200px);
        position: relative;
        display:block;
        min-height:1000px;
        box-sizing: border-box;
    }

    .rightColumn {
        background-color:gray;
        width:200px;
        position: absolute;
        height: 100vh;
        right:0;
        top:0;
        
    }
    .icon {
        width:120px;
        height:120px;
    }
}

